build/**
!build/Dockerfile

gmon.out
results.html

CMakeModules/cmake_uninstall.cmake
CMakeModules/CTestCustom.cmake
doc/doxy.config
doc/html/**
!doc/html/doxy-boot.js

.buildpath
.cproject
.project
.settings

vendors/VS2015/**
!vendors/VS2015/Main.cpp
!vendors/VS2015/copydep.bat
!vendors/VS2015/deps/Debug/lib/.gitkeep.txt
!vendors/VS2015/deps/Release/lib/.gitkeep.txt
!vendors/VS2015/deps/Debug/bin/.gitkeep.txt
!vendors/VS2015/deps/Release/bin/.gitkeep.txt
!vendors/VS2015/deps/include/.gitkeep.txt
!vendors/VS2015/deps/lib/.gitkeep.txt
!vendors/VS2015/get_dependencies.sln
!vendors/VS2015/get_dependencies.vcxproj
!vendors/VS2015/get_dependencies.vcxproj.filters
!vendors/VS2015/packages.config

src/giga/version.h
src/tests/path.h
