[submodule "vendors/curlcpp"]
	path = vendors/curlcpp
	url = https://github.com/Giga-gg/curlcpp.git
[submodule "vendors/cryptopp/cryptopp"]
	path = vendors/cryptopp/crypto++
	url = https://github.com/weidai11/cryptopp.git
[submodule "vendors/cpprestsdk"]
	path = vendors/casablanca
	url = https://github.com/Microsoft/cpprestsdk.git
